.keyUpload {
  display: none;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.sshCheckbox input {
  margin: 0;
  margin-right: 5px;
}

.inputWrapperDisabled {
  color: rgb(148, 148, 148);
  margin-bottom: 15px;
}

.inputWrapperDisabled .inputField {
  border: 1px solid rgb(202, 201, 201);
}

.inputField {
  all: unset;
  width: 100%;
  border: 1px solid gray;
  padding-top: 4px;  
} 

.inputWrapper input:hover,
.inputWrapper input:focus {
  border: 1px solid #1891e7;
}

.inputFieldError {
  all: unset;
  width: 100%;
  border: 1px solid rgb(228, 65, 65);
  padding-top: 4px;
} 

/* input.inputField {
  all: unset;
  width: 100%;
  border: 1px solid gray;
  padding-top: 4px;  
}  */

.errorMessage {
  color: rgb(228, 65, 65);
}

.selectedKey {
  margin-left: 10px;
}