.dragNdropWrapper {
  display: flex;
  padding: 50px;
  justify-content: center;  
  /* margin-top: 40px; */
  max-width: 100%;
  text-align: center;
  background-color: #f1f9ff;
  border: dashed 2px #006bb6;
}

.dragNdropWrapperActive {
  display: flex;
  padding: 50px;
  justify-content: center;  
  max-width: 100%;
  text-align: center;
  background-color: #ffffff;
  border: dashed 2px #006bb6;
}

.messageWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.successIcon {
  color: rgb(0, 179, 89);
}

.successMessage {
  margin-left: 10px;
}

.inputFileUpload {
  display: none;
}

.uploadButton {
  margin-top: 20px;
  cursor: pointer;
}