.header-container {
  padding: 25px;
  background-color: #2782C1;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
  color: #fff;
}
.title {
  text-align: center;
}
.description {
  text-align: center;
}
